body {
    font-family: Helvetica, Arial, sans-serif;
    font-kerning: auto;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}