th {
    font-size: 1.2em;
    padding-top: .3em;
    padding-bottom: .3em;
}
#select {/*this make the menu bigger (cause it really needs it)*/
    left:10vw;
	width:80vw;
}
.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.part_icon {
    width: 16px;
    height: 16px;
}
.cell_parameter {/*not doing anything*/
    left:10vw;
	width:10vw;
}
#attribute_inputs_popup {
	z-index:6;
	text-align: center;
    left:8vw;
	width:25vw;
    height:25vw;
}
/*.part_svg {
}
.circle_node_svg {
}*/
.bond_svg {
    opacity: .5;
}