th {
    font-size: 1.2em;
    padding-top: .3em;
    padding-bottom: .3em;
}
#select {/*this make the menu bigger (cause it really needs it)*/
    left:10vw;
	width:80vw;
}
.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.part_icon {
    width: 16px;
    height: 16px;
}
.cell_parameter {/*not doing anything*/
    left:10vw;
	width:10vw;
}
#schematics_popup {/*not doing anything*/
    left:67vw;
	width:25vw;
    z-index:6;
	text-align: center;
}
.schematics_table_button {
	background-color: #e7e7e7;
	color: black;
	border: none;
	border-radius:10px;
	/*padding: 15px 32px;*/
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: auto;/*order of these two matters*/
	margin-top: 1vh;
}
#attribute_inputs_popup {
	z-index:6;
	text-align: center;
    left:8vw;
	width:25vw;
    height:25vw;
}
/*.part_svg {
}
.circle_node_svg {
}*/
.bond_svg {
    opacity: .5;
}
#schematics_popup_x_button {
    left: 90%;
    width: 10%;
}